body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 10px;
  align-content: center;
}

.App-Content {
  font-size: large;
  padding: 10px;
  align-content: center;
}
.upload-img-container {
  margin-left: 50%;
}

.upload-img-content {
  margin-left: -50px;
}

.login-form-container {
  margin-left: 50%;
}

.login-form {
  max-width: 300px;
  margin-left: -150px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}